controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    mecanum_controller:
      type: velocity_controllers/JointGroupVelocityController

mecanum_controller:
  ros__parameters:
    joints:
      - front_left_joint
      - front_right_joint
      - back_left_joint
      - back_right_joint
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity